<div class="container">
  <div class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
      <li id="page-title">{{#link-to 'headline'}}BUSTLE{{/link-to}}</li>
      <li>{{#link-to 'headline'}}NEWS{{/link-to}}</li>
      <li>{{#link-to 'headline'}}ENTERTAINMENT{{/link-to}}</li>
      <li>{{#link-to 'headline'}}FASHION &amp; BEAUTY{{/link-to}}</li>
      <li>{{#link-to 'headline'}}LIFESTYLE{{/link-to}}</li>
      <li>{{#link-to 'headline'}}BOOKS{{/link-to}}</li>
      <li>{{#link-to 'headline'}}EXPLORE{{/link-to}}</li>
    </ul>
  </div>

</div>
  {{outlet}}
